# Django-signup-backend/.gitignore

# Virtual environment
venv/
.env

# Database
db.sqlite3

# Python-related files
__pycache__/
*.pyc

# Django-specific files
/static/
/media/

# IDE-specific files
.idea/
.vscode/

# Logs
*.log